<footer class="nb-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="about">
          <p>This project is the Mobile Web Specialist Challenge made by Andela Learning Community for the Google Africa
            Developer Scholarship Phase II.</p>
          <div class="social-media">
            <ul class="list-unstyled list-inline social text-center">
              <li class="list-inline-item"><a href="" title=""><i class="fa fa-facebook"></i></a></li>
              <li class="list-inline-item"><a href="" title=""><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="" title=""><i class="fa fa-google-plus"></i></a></li>
              <li class="list-inline-item"><a href="" title=""><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
